*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}
*::-webkit-scrollbar{
    width: 10px;
}
.root{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url("./Photos//bh.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid white;
}
.searchpage{
    width: 100%;
    background:#292727;
   
    border-bottom: 2px solid white;
}
navbar{
    display: flex;
    justify-content: space-between;
    color: wheat;
    padding: 1rem 3rem;
    align-items: center;
}
.navfix{
    display: flex;
    width: 100%;
    background:#282727;
    position:fixed;
    z-index: 9999;
    }
navbar span{
   font-size: 40px;
   font-weight: 700;
   color: rgb(255, 255, 255);
   box-shadow: 2px  2px 2px 3px rgb(255, 0, 0);
}
navbar button{
    padding: .3rem .9rem;
    color: white;
    border-radius: 3px;
    margin: 0px 1rem;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: red;
}

/* home tyext and input button */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    text-align: center;
}
main h1{
    font-size: 3em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
main span{
    color: white;
text-align: center;
padding: 2rem 0rem;
font-size: 20px;
margin-top: 1rem;
}
main .searchs{
width: 50%;
}main .searchs button{
    width: 30%;
    }

/* movies css */
.movies{
 background: rgba(0,0,0,2);
 padding: 1rem;
}
.movies .movies_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movies .movies_bar h2{
    color: white;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
}
.movies .movies_bar span{
    color: white;
    font-size: 15px;
    font-weight: 300;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    cursor: pointer;
}
.sliderimg{
    width: 80%;
    display: flex;
    align-items: center;
    height: 200px;
    margin: 2px 10px;
}
.sliderimg img{
    width: 100%;
}
.fooddetail{
    width: 100%;
    height: 300px;
}
.fooddetail .img{
   width: 100%;
    height: 300px;
}